@model Asp.Net_MVC.Controllers.FirstData
@{
    ViewBag.Title = "First";
}
@Html.ValidationSummary()
@using (Html.BeginForm())
{
  <div> @Html.LabelFor(m => m.ip) </div>
  <div> @Html.EditorFor(m => m.ip) </div>

  <div> @Html.LabelFor(m => m.username) </div>
  <div> @Html.EditorFor(m => m.username) </div>

  <div> @Html.LabelFor(m => m.password) </div>
  <div> @Html.EditorFor(m => m.password) </div>

  <input type = "submit" value = "保存" />
}

