@model Asp.Net_MVC.Controllers.ThirdData
@{
    ViewBag.Title = "First";
}
@Html.ValidationSummary()
@using (Html.BeginForm())
{
  <div> @Html.LabelFor(m => m.Name) </div>
  <div> @Html.EditorFor(m => m.Name) </div>

  <div> @Html.LabelFor(m => m.Age) </div>
  <div> @Html.EditorFor(m => m.Age) </div>

  <div> @Html.LabelFor(m => m.Sex) </div>
  <div> @Html.EditorFor(m => m.Sex) </div>

  <input type = "submit" value = "保存" />
}

